*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#page-wrapper{
    background-color: #FFA5AB;
    margin: 0 auto;
    text-align: center;
}

#container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

header, footer{
    background-color: #450920;
    text-align: left;
    color: #F9DBBD;
}

header h1{
    margin: 10px;
    padding-top: 10px;
    color: #F9DBBD;
}

header p{
    padding-bottom: 10px;
    color: #F9DBBD;
}

nav{
    background-color: #A53860;
    width: 30%;
    display: flex;
    justify-content: center;
}

nav ul {
    padding-left: 0;
    list-style: none;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    border: 5px solid #450920;
    border-radius: 50%;
    padding: 2%;
    width: 80%;
    margin: 15px;
}

nav a{
    text-decoration: none;
    color: #F9DBBD;
}

main{
    height: 100vh;
    width: 70%;
}

main h2{
    margin: 25px;
}

main h4{
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 70px
}

main p{
    margin: 15px;
}

img{
    height: 50%;
    width: auto;
    margin: 10px;
}

#collection{
    max-width: 70ch;
    margin: 0 auto;
    text-align: left;
    display: grid;
}

#eduitemfirst{
    margin-bottom: 20%;
    margin-top: 20%;
}
#eduitem{
    margin-bottom: 50%;
}

table {
    width: 80%;
    margin: auto;
}

th, td {
    border: 1px solid #450920;
    padding: 8px 10px;
}

#calc{
    background-color: lightpink;

}

#calc button{
    background-color: #A53860;
    color: white;
    margin-top: 10px;

}

/* above is desktop below is mobile display */
@media screen and (max-width: 1000px){

    #container{
        flex-direction: column;
    }

    header, footer{
        text-align: center;
    }

    nav{
        width: 100%;
    }

    nav ul{
        flex-direction: row;
    }

    nav li{
        margin: auto;
        min-width: 0;
    }

    nav a{
        font-size: 12px;
    }

    main{
        height: 100vh;
        width: 100%;
    }

    img{
        height: 40%;
        width: auto;
    }

}